<mat-sidenav-container class="sidenav-container">
  <!-- Full-Height Overlaying Side Menu for Mobile -->
  <mat-sidenav mode="over" [(opened)]="isSidenavOpened" class="mobile-menu">
    <mat-nav-list>
      <a mat-list-item routerLink="/dogs">Dogs</a>
      <a mat-list-item routerLink="/cats">Cats</a>
      <a mat-list-item routerLink="/mypets">My Pets</a>
      <a mat-list-item routerLink="/appointments"></a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Horizontel Toolbar Menu for large screens -->
     <mat-toolbar color="primary" class="desktop-menu">
      <button mat-icon-button>
        <mat-icon svgIcon="logo-medium"></mat-icon>
      </button>
      <a mat-button routerLink="/dogs">Dogs</a>
      <a mat-button routerLink="/cats">Cats</a>
      <a mat-button routerLink="/mypets">My Pets</a>
      <a mat-button routerLink="/appointments">Appointments</a>
      <span class="spacer"></span>
      <button mat-mini-fab  class="icon-button">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab  class="icon-button">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-mini-fab  class="icon-button">
        <mat-icon>account_circle</mat-icon>
      </button>
     </mat-toolbar>

     <!-- Mobile Menu Toggle Button -->
    <mat-toolbar color="primary" class="mobile-toolbar">
      <button mat-mini-fab (click)="toggleSidenav()" class="icon-button">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button  class="icon-button">
        <mat-icon svgIcon="logo-medium"></mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-mini-fab  class="icon-button">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab  class="icon-button">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-mini-fab  class="icon-button">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Content Area -->
    <div class="content">
      <app-teste></app-teste>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
